/*.slider {
    padding: 0 0 5px;
}
.slider .slides img {
    max-inline-size: 80vh;
    width: auto;
    padding: 2vh;
}
.slider.is-admin:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    position: absolute;
    z-index: 1;
}

.slick-initialized .slick-slide {
    display: flex;
}

.prose .slides ul>li:before {
    display: none;  
}

.prose .slides .slick-dots li {
    display: inline-block !important;
}

.prose .slides .slick-dots  {
   max-width: inherit !important;
}

.prose .slider.alignfull {
    width: inherit;
    margin-left: inherit;
}*/

.swiper-container {
  width: 100%;
  height: 100%;
}

@media (min-width: 990px) {
  .swiper-container.alignfull {
    width: 99vw;
    margin-left: calc(49% - 49vw);
  }
}

.grid.swiper-slide {
  display: grid;
}

.swiper-slide {
  /*text-align: center;
  font-size: 18px;
  background: #fff;*/

  /* Center slide text vertically */
  justify-content: center;
  align-items: center;
  background-color: rgba(191, 204, 217, .5);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*padding: 0 1rem;*/
  margin: 0 auto;
}

.slider.is-admin.alignfull {
  width: 100%;
  margin-left: 0;
}

.slider.slider.is-admin.alignfull .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.slider.slider.is-admin.alignfull .col-span-2 {
  grid-column: span 2 / span 2;
}

.slider.is-admin:before {
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  position: absolute;
  z-index: 1;
}

.slide-caption {
  padding:.25rem;
  font-size: 1.125rem;
}

.slide-caption h3 {
  margin-top: 0;
}

.slide-image img {
  margin: 0;
}

.prose .swiper-slide a.button {
  color: #fefefe;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  font-size: 1rem;
}

.swiper-button-prev, .swiper-button-next {
  color: #fefefe;
  background: rgba(49, 38, 29, .15);
  padding: 1rem;
  transition: 0.3s;

}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background: rgba(49, 38, 29, .75);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1.5rem;
}

.slider.alignfull.swiper.swiper-container {
  margin-top: 0;
}

.swiper-slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.swiper-slide-active + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
.swiper-slide-active + .swiper-slide + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width:1500px) {
  .slider.swiper-container.alignfull {
    margin-left: calc(50% - 50vw);
  }
}