:root {
  --tec-font-family-sans-serif: "gentona-light", "Tahoma", sans-serif;"
  --font-family-base: var(--tec-font-family-sans-serif);
  --tec-color-button-primary: #002d72;
  --tec-color-button-primary-hover: #68ace5;
  --tec-font-size-2: 1.125rem;
  --tec-color-text-primary: #31261d;
  --tec-color-text-event-date: #31261d;
  --tec-color-link-accent: #002d72;
  --tec-color-accent-primary: #002d72;
}

/* Calendar/Listing View */
tribe-common .tribe-common-h2,
tribe-common .tribe-common-h3,
tribe-common .tribe-common-h4,
tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
h2.tribe-events-calendar-latest-past__heading.tribe-common-h5.tribe-common-h3--min-medium,
span.tribe-events-c-top-bar__datepicker-desktop.tribe-common-a11y-hidden {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
  font-weight: 600;
}

.tribe-events .tribe-events-calendar-latest-past__event-datetime,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-month,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-year,
.tribe-events .tribe-events-calendar-latest-past__event-date-tag-daynum {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, sans-serif;
  font-weight: 600;
  color:#31261d;
  font-size: 1.25rem;
}


.tribe-event-date-start, 
.tribe-event-date-end, 
.tribe-event-time {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, sans-serif !important;
  font-weight: 600 !important;
}

.tribe-events-calendar-latest-past__event-venue-title.tribe-common-b2--bold {
  font-weight: 300;
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin {
  color: #002d72 !important;
  border-bottom-width: 2px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgba(229, 226, 224, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
}

a.tribe-events-calendar-latest-past__event-title-link.tribe-common-anchor-thin:hover {
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(74, 72, 76, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}

.tribe-common-g-row.tribe-events-calendar-latest-past__event-row,
.tribe-common-g-row.tribe-events-calendar-list__event-row {
  border: 1px solid #d6d6d6;
  padding: 1rem;
}

.tribe-events-calendar-list__event
  .tribe-events-calendar-list__event-details.tribe-common-g-col {
  width: 100%;
}

.tribe-events-calendar-month__day.tribe-events-calendar-month__day--past {
  background-color: #f8f8f8;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h6--min-medium {
  font-size: 1.5rem;
}


/* Single Event View */
.tribe-events-single.tribe-blocks-editor h2.tribe-events-schedule__datetime,
.tribe-events-single h2.tribe-events-schedule__datetime {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif !important;
    font-weight: 600;
}

span.tribe-events-schedule__separator.tribe-events-schedule__separator--date,
.tribe-events-schedule__all-day, .tribe-events-schedule__separator, .tribe-events-schedule__timezone {
  color: #31261d !important;
}

.tribe-events-single.tribe-blocks-editor p,
.tribe-events-single p {
  font-size: 1.25rem !important;
  color: #31261d;
}

.tribe-events-single.tribe-blocks-editor p a,
.tribe-events-single p a,
.tribe-events-nav-previous a,
.tribe-events-nav-next a {
  color: #002d72;
  border-bottom-width: 2px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgba(229, 226, 224, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tribe-events-single.tribe-blocks-editor p a:hover,
.tribe-events-single p a:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover {
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(74, 72, 76, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}
.tribe-events-single.tribe-blocks-editor .tribe-events-notices,
.tribe-events-single .tribe-events-notices {
  background-color: #fff2d9;
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  color: #31261d;
}

.tribe-events-c-view-selector__list-item::before,
.tribe-events-c-top-bar__nav-list-item::before,
.tribe-events-c-nav__list-item::before,
.tribe-events-notices li::before,
.tribe-events-c-messages__message-list-item::before {
  display: none;
}

.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-c-view-selector--tabs
  .tribe-events-c-view-selector__list-item-link:hover,
a.tribe-events-calendar-list__event-featured-image-link:hover {
  border-bottom: 0;
}

a.tribe-events-calendar-list__event-title-link.tribe-common-anchor-thin,
#tribe-events-content a, .tribe-events-event-meta a {
  color: #002d72;
}

a.tribe-events-calendar-list__event-title-link.tribe-common-anchor-thin:hover {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-bottom: 2px;
  border-color: rgba(49, 38, 29, var(--tw-border-opacity));
  border-style: solid;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}

.tribe-common .tribe-common-h--alt {
  font-family: "gentona-bold", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
    font-wight: 700;
}

a.tribe-events-c-view-selector__list-item-link {
  border: 0 !important;
}

.tribe-events .tribe-events-calendar-latest-past__event-featured-image-link {
  border: 0;
}

.tribe-events
  .tribe-events-calendar-latest-past__event-featured-image-link:focus,
.tribe-events
  .tribe-events-calendar-latest-past__event-featured-image-link:hover {
  border: 0;
}

h1.tribe-events-single-event-title,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-header__title h1.tribe-events-header__title-text {
  font-family: Quadon-Bold, Georgia, serif;
  font-weight: 500;
}

.tribe-event-date-start,
.tribe-event-date-end,
.tribe-event-time,
.tribe-events-content,
.tribe-events-button,
.tribe-events-single-section > *,
.tribe-events-content > *,
.tribe-events-nav-pagination {
  font-family: "gentona-light", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, sans-serif;
  color: #31261d;
  font-weight: 300;
}

.tribe-events-meta-group.tribe-events-meta-group-details,
.tribe-events-meta-group.tribe-events-meta-group-organizer,
.tribe-events-single-section.tribe-events-event-meta.secondary.tribe-clearfix {
  font-size: 1rem;
}

.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-next a,
.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous a {
  font-weight: 300;
}


.tribe-events-schedule__date,
.tribe-events-schedule__all-day, .tribe-events-schedule__separator, .tribe-events-schedule__timezone,
.tribe-events-schedule__time {
  font-size: 1.25rem !important;
}

ul.tribe-events-sub-nav a,
.tribe-events-back a {
  font-size: 1.25rem;
}

.tribe-events-single .tribe-events-sub-nav {
  font-size: 1rem;
}

.tribe-block__events-link .tribe-block__btn--link::before {
  display: none;
}

@media screen and (min-width: 1080px) {
  .single-tribe_events .tribe-events-c-subscribe-dropdown__button, .tribe-block__events-link .tribe-events-c-subscribe-dropdown__button {
    width: 250px;
  }
  
  .single-tribe_events .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content, .tribe-block__events-link .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content {
    top: 1.5rem;
  }
}

a.tribe-events-c-subscribe-dropdown__list-item-link {
  border-bottom-width: 0px !important;
}

a.tribe-events-c-subscribe-dropdown__list-item-link:hover {
  border-bottom-width: 0px !important;
}

.tribe-events .tribe-events-calendar-list__event-title-link:visited {
  color: #002d72;
}

.tribe-events .tribe-common .tribe-common-form-control-text__input, .tribe-events .tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-events .tribe-events-c-view-selector__list-item-text, .tribe-events .tribe-events-calendar-latest-past__event-row, .tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium {
  font-family: gentona-bold, "Helvetica Neue", Roboto, sans-serif;
  font-weight: 700;
}

.tribe-events-calendar-list .tribe-event-categories li {
  display: inline;
  border: 1px solid #002d72;
  background-color: #002d72;
  padding: 3px 9px;
  border-radius: 30px;
  margin-right: 3px;
  font-size: 0.8em;
}
.tribe-events-calendar-list .tribe-event-categories li:hover {
  background-color: #fefefe !important;
}
.tribe-events-calendar-list .tribe-event-categories li a {
  color: #fefefe !important;
border: none !important;
font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
Segoe UI, sans-serif;
font-weight: 600;
}
.tribe-events-calendar-list .tribe-event-categories li:hover a {
  color: #002d72 !important;
}

.tribe-block__venue {
  border: none !important;
}

/* AGHI/Non-Block Editor Styles */
.tribe-events-event-image img {
	max-width: 500px;
}

.tribe-events-content h2, .tribe-events-content h3, .tribe-events-content h4, .tribe-events-content h5, .tribe-events-content h6 {
	font-family: Gentona-SemiBold,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,sans-serif;
  font-weight: 600;
}

.tribe-events-content a {
  border-bottom-width: 2px;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: rgba(229, 226, 224, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tribe-events-content a:hover {
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(74, 72, 76, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(49, 38, 29, var(--tw-text-opacity));
}

.tribe-block.tribe-block__events-link {
  display: none;
}

.single-tribe_events .tribe-blocks-editor .tribe-events-single-event-title {
	line-height: 1.2;
}

.tribe-events-sub-nav li a {
	background: transparent;
}

.tribe-events-series-relationship-marker, .tribe-events-series-relationship-single-marker {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, sans-serif !important;
  font-weight: 600 !important;
}

.tribe-events-pro-summary__event-datetime {
  font-family: "gentona-semibold", system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem;
}

a.tribe-events-series-relationship-single-marker__title.tribe-common-cta--alt {
  color: #002d72;
  border: none;
  border-bottom: 0.125em solid;
  border-bottom-color: #d6d6d6;
  background-color: transparent;
  border-radius: 0;
  transition: border-color, background-color, color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
a.tribe-events-series-relationship-single-marker__title.tribe-common-cta--alt:hover {
  color: #31261d;
  border-bottom: 0.125em solid;
  border-bottom-color: #4a484c;
}

.single-tribe_event_series .tribe_event_series .meta {
  display: none;
}

.tribe-events-series-relationship-marker, .tribe-events-series-relationship-single-marker {
	font-family: gentona-bold,"Helvetica Neue",Roboto,sans-serif !important;
  font-weight: 700;
}


.events-widget-section .tribe-events-widget-events-list__events {
  display: grid;
grid-auto-flow: column;

}
.events-widget-section .tribe-common-g-row.tribe-events-widget-events-list__event-row {
  margin-right: 2rem;
  padding-right: 2rem;
  
}
.events-widget-section .tribe-events-widget-events-list__header-title.tribe-common-h6.tribe-common-h--alt {
  font-size: 36px !important;
}
.events-widget-section .tribe-events-widget-events-list__event-details {
  margin-left: 1rem !important;
}
.events-widget-section .tribe-events-widget .tribe-events-widget-events-list__event-row {
  flex-wrap: wrap;
}

.page-template.tribe-js .site-main .entry-content .tribe-common.alignwide .tribe-common-l-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
}

/* Hide Flyers or Images without alt text! */
.tribe-events-single img[alt=""],
.tribe-events-single img:not([alt]),
img.tribe-events-calendar-latest-past__event-featured-image[alt=""],
img.tribe-events-calendar-latest-past__event-featured-image:not([alt]),
img.tribe-events-calendar-day__event-featured-image-link[alt=""],
img.tribe-events-calendar-day__event-featured-image-link:not([alt]),
img.tribe-events-calendar-list__event-featured-image[alt=""],
img.tribe-events-calendar-list__event-featured-image:not([alt]) {
  display: none;
}